@using EventPlatform.Models.Prijava
@model List<PrijavaViewModel>

<h1>Spisak prijava</h1>

<a asp-controller="Prijava" asp-action="Create" class="btn btn-primary">Kreiraj prijavu</a>

<table class="table table-striped table-hover mt-3">
	<thead>
		<tr>
			<th>Učesnik</th>
			<th>Stručni događaj</th>
			<th>Vreme i mesto održavanja</th>
			<th>Predavači</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>
					<strong>@item.Ucesnik.Ime @item.Ucesnik.Prezime</strong><br />
					<small>@item.Ucesnik.Email</small>
				</td>

				<td>
					<strong>@item.Dogadjaj.Naziv</strong><br />
					<small>@item.Dogadjaj.Agenda</small>
				</td>
				
				<td>
					@item.Dogadjaj.DatumVremeOdrzavanja.ToString("dd.MM.yyyy HH:mm")<br />
					<small>@item.Dogadjaj.Lokacija?.Naziv</small>
				</td>

				<td>
					@if (item.Predavaci != null && item.Predavaci.Any())
					{
						@foreach(var predavac in item.Predavaci)
						{
							<span class="badge bg-secondary me-1">@predavac.Ime @predavac.Prezime</span>
						}
					}
					else
					{
						<span class="text-muted">Nema predavača</span>
					}
				</td>
				<td>
					<form asp-action="Delete" asp-controller="Prijava" method="post" style="display:inline;">
						<input type="hidden" name="ucesnikId" value="@item.Ucesnik.UcesnikID" />
						<input type="hidden" name="dogadjajId" value="@item.Dogadjaj.StrucniDogadjajID" />
						<button type="submit" class="btn btn-sm btn-danger">Izbriši</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>