@using EventPlatform.Models.Dogadjaji
@model List<DogadjajViewModel>

<h1>Dogadjaji</h1>

<a href="@Url.Action("Create","Dogadjaj")" class="btn btn-primary">Kreiraj novi dogadjaj</a>
<table class="table table-striped table-hover mt-3">
	<thead>
		<tr>
			<th>Naziv</th>
			<th>Agenda</th>
			<th>Datum i vreme odrzavanja</th>
			<th>Trajanje (h)</th>
			<th>Cena kotizacije (RSD)</th>
			<th>Lokacija</th>
			<th>Tip dogadjaja</th>
			<th>Predavaci</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>@item.Naziv</td>
				<td>@item.Agenda</td>
				<td>@item.DatumVremeOdrzavanja</td>
				<td>@item.Trajanje</td>
				<td>@item.CenaKotizacije</td>
				<td>@item.Lokacija.Naziv <br/>
					@item.Lokacija.Adresa	
				</td>
				<td>@item.TipDogadjaja.NazivTipa</td>
				<td>
					@foreach(var p in item.Predavaci)
					{
						<span>@p.Ime @p.Prezime</span>
					}
				</td>
				<td>
					<a href="@Url.Action("Edit", "Dogadjaj", new { id = item.StrucniDogadjajID })" 
					 class="btn btn-primary btn-sm">Izmeni</a>
				</td>
				<td>
					<form asp-action="Delete" asp-route-id="@item.StrucniDogadjajID"
						  method="post" style="display:inline;">
						<button type="submit" class="btn btn-danger btn-sm"
								onclick="return confirm('Da li ste sigurni?')">
							Obriši
						</button>
					</form>
				</td>
			</tr>
		}
	</tbody>

</table>